<div class="column is-three-quarters">
  <% if user_signed_in? %>
    <article class="media box">
      <div class="media-content">
        <%= render "posts/form" %>
      </div>
    </article>
  <% end %>

  

  <div class="columns is-multiline">
    <% @posts.each do |post| %>
      <div class="column is-6">
        <article class="media box">
          <div class="media-content">
            <div class="content">
              <% if user_signed_in? %>
                <strong><%= post.user.username %></strong><br />
              <% end %>
              <strong class="is-size-3"><%= link_to post.title, post %></strong>
              <p><%= truncate(post.body, length: 100, separator: ' ') %></p>
            </div>
          </div>
        </article>
      </div>
    <% end %>
  </div>
  
</div>