<div class="column is-half">
  <article class="media box">
    <figure class="media-left">
      <p class="image is-64x64">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
      </p>
    </figure>
    <div class="media-content">

    </div>
  </article>


  <% @posts.each do |post| %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="is-64x64">
            <img src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <strong>Niko B</strong>
            <small>@nikob</small><br />
            <strong class="is-size-3"><%= post.title %></strong>
            <p><%= post.body %></p>
          </div>
        </div>
      </article>
    </div>
  <% end %>
</div>