<div class="column is-one-quarter">
  <nav class="panel is-primary">
    <p class="panel-heading">Random secrets</p>
    <% if @posts.any? %>
      <% random_posts = [] %>
      <% until random_posts.length == [Post.count, 5].min do %>
        <% random_post = Post.offset(rand(Post.count)).first %>
        <% random_posts << random_post unless random_posts.include?(random_post) %>
      <% end %>
      <% random_posts.each do |post| %>
        <%= link_to post, class: "panel-block" do %>
          <span class="panel-icon">
            <i class="fas fa-mask"></i>
          </span>
          <%= truncate(post.title, length: 20, separator: ' ') %>
        <% end %>
      <% end %>
    <% else %>
      <p class="panel-block">No secrets yet.</p>
    <% end %>
  </nav>
</div>